.cover{
    width: 100%;
}
.products_button{
    border: none;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 2em;
    background-color: white;
    padding: 1em 0.5em;
    width: 100%;
    margin-top: 1em;
    pointer-events: all;
}
.products_button:hover{
    background-color: #9287b3;
    color: white;
    transition: all 150ms ease-in;
}